<header>
    <div class="header-text">
        <div class="cl-logo"><a href="/">CL</a></div>
        <div class="loc-title">los angeles</div>
    </div>
    <div class="nav-links">
        <a href="" class="link">[ log in ]</a>
        <a href="" class="link">[ create account ]</a>
    </div>
</header>