<div class="sidebar">
    <h1 class="main-title">craigslist</h1>
    <div class="user-nav">
        <ul class="links">
            <li>
                <a href="">create a posting</a>
            </li>
            <li>
                <a href="">my account</a>
            </li>
        </ul>
    </div>
    <div class="search">
        <form action="">
            <input class="search" type="text" placeholder="search craigslist" />
        </form>
    </div>
    <nav>
        <div class="nav-info">
            <ul class="links">
                <li>
                    <a href="">craigslist app</a>
                </li>
                <li>
                    <a href="">help, faq, abuse, legal</a>
                </li>
                <li>
                    <a href="">avoid scams & fraud</a>
                </li>
                <li>
                    <a href="">personal safety tips</a>
                </li>
                <li>
                    <a href="">terms of use</a>
                </li>
                <li>
                    <a href="">privacy policy</a>
                </li>
                <li>
                    <a href="">system status</a>
                </li>
            </ul>
        </div>
        <div class="nav-external">
            <ul class="links">
                <li>
                    <a href="">about craigslist</a>
                </li>
                <li>
                    <a href="">craigslist is hiring</a>
                </li>
                <li>
                    <a href="">craigslist open source</a>
                </li>
                <li>
                    <a href="">craigslist blog</a>
                </li>
                <li>
                    <a href="">best-of-craigslist</a>
                </li>
                <li>
                    <a href="">"craigslist joe"</a>
                </li>
                <li>
                    <a href="">craig newmark philanthropies</a>
                </li>
            </ul>
        </div>
    </nav>
</div>