<div class="home">
    {{> sidebar }}
    <div class="content">
        <div class="header">
            <h1 class="location-title">los angeles</h1>
            <div class="sublocations">
                <a href="">wst</a>
                <a href="">sfv</a>
                <a href="">lac</a>
                <a href="">sgv</a>
                <a href="">lgb</a>
                <a href="">ant</a>
            </div>
        </div>
        <main>
            <div class="content-section">
                <h2 class="section-title">community</h2>
                <div class="section-links">
                    <ul class="links">
                        <li>
                            <a href="">activities</a>
                        </li>
                        <li>
                            <a href="">artists</a>
                        </li>
                        <li>
                            <a href="">childcare</a>
                        </li>
                        <li>
                            <a href="">classes</a>
                        </li>
                        <li>
                            <a href="">events</a>
                        </li>
                        <li>
                            <a href="">general</a>
                        </li>
                        <li>
                            <a href="">groups</a>
                        </li>
                        <li>
                            <a href="">local news</a>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="">lost+found</a>
                        </li>
                        <li>
                            <a href="">missed connections</a>
                        </li>
                        <li>
                            <a href="">musicians</a>
                        </li>
                        <li>
                            <a href="">pets</a>
                        </li>
                        <li>
                            <a href="">politics</a>
                        </li>
                        <li>
                            <a href="">rants & raves</a>
                        </li>
                        <li>
                            <a href="">rideshare</a>
                        </li>
                        <li>
                            <a href="">volunteers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-section">
                <h2 class="section-title">housing</h2>
                <div class="section-links">
                    <ul class="links">
                        <li>
                            <a href="">apts / housing</a>
                        </li>
                        <li>
                            <a href="">housing swap</a>
                        </li>
                        <li>
                            <a href="">housing wanted</a>
                        </li>
                        <li>
                            <a href="">office / commercial</a>
                        </li>
                        <li>
                            <a href="">parking / storage</a>
                        </li>
                        <li>
                            <a href="">real estate for sale</a>
                        </li>
                        <li>
                            <a href="">rooms / shared</a>
                        </li>
                        <li>
                            <a href="">rooms wanted</a>
                        </li>
                        <li>
                            <a href="">sublets / temporary</a>
                        </li>
                        <li>
                            <a href="">vacation rentals</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-section">
                <h2 class="section-title">jobs</h2>
                <div class="section-links">
                    <ul class="links">
                        <li>
                            <a href="">accounting+finance</a>
                        </li>
                        <li>
                            <a href="">admin / office</a>
                        </li>
                        <li>
                            <a href="">arch / engineering</a>
                        </li>
                        <li>
                            <a href="">art / media / design</a>
                        </li>
                        <li>
                            <a href="">biotech / science</a>
                        </li>
                        <li>
                            <a href="">business / mgmt</a>
                        </li>
                        <li>
                            <a href="">customer service</a>
                        </li>
                        <li>
                            <a href="">education</a>
                        </li>
                        <li>
                            <a href="">etc / misc</a>
                        </li>
                        <li>
                            <a href="">food / bev / hosp</a>
                        </li>
                        <li>
                            <a href="">general labor</a>
                        </li>
                        <li>
                            <a href="">government</a>
                        </li>
                        <li>
                            <a href="">human resources</a>
                        </li>
                        <li>
                            <a href="">legal / paralegal</a>
                        </li>
                        <li>
                            <a href="">manufacturing</a>
                        </li>
                        <li>
                            <a href="">marketing / pr / ad</a>
                        </li>
                        <li>
                            <a href="">medical / health</a>
                        </li>
                        <li>
                            <a href="">nonprofit sector</a>
                        </li>
                        <li>
                            <a href="">real estate</a>
                        </li>
                        <li>
                            <a href="">retail / wholesale</a>
                        </li>
                        <li>
                            <a href="">sales / biz dev</a>
                        </li>
                        <li>
                            <a href="">salon / spa / fitness</a>
                        </li>
                        <li>
                            <a href="">security</a>
                        </li>
                        <li>
                            <a href="">skilled trade / craft</a>
                        </li>
                        <li>
                            <a href="">software / qa / dba</a>
                        </li>
                        <li>
                            <a href="">systems / network</a>
                        </li>
                        <li>
                            <a href="">technical support</a>
                        </li>
                        <li>
                            <a href="">transport</a>
                        </li>
                        <li>
                            <a href="">tv / film / video</a>
                        </li>
                        <li>
                            <a href="">web / info design</a>
                        </li>
                        <li>
                            <a href="">writing / editing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-section">
                <h2 class="section-title">services</h2>
                <div class="section-links">
                    <ul class="links">
                        <li>
                            <a href="">automotive</a>
                        </li>
                        <li>
                            <a href="">beauty</a>
                        </li>
                        <li>
                            <a href="">cell/mobile</a>
                        </li>
                        <li>
                            <a href="">computer</a>
                        </li>
                        <li>
                            <a href="">creative</a>
                        </li>
                        <li>
                            <a href="">cycle</a>
                        </li>
                        <li>
                            <a href="">event</a>
                        </li>
                        <li>
                            <a href="">farm+garden</a>
                        </li>
                        <li>
                            <a href="">financial</a>
                        </li>
                        <li>
                            <a href="">health/well</a>
                        </li>
                        <li>
                            <a href="">household</a>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="">labor/move</a>
                        </li>
                        <li>
                            <a href="">legal</a>
                        </li>
                        <li>
                            <a href="">lessons</a>
                        </li>
                        <li>
                            <a href="">marine</a>
                        </li>
                        <li>
                            <a href="">pet</a>
                        </li>
                        <li>
                            <a href="">real estate</a>
                        </li>
                        <li>
                            <a href="">skilled trade</a>
                        </li>
                        <li>
                            <a href="">sm biz ads</a>
                        </li>
                        <li>
                            <a href="">travel/vac</a>
                        </li>
                        <li>
                            <a href="">write/ed/tran</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-section">
                <h2 class="section-title">for sale</h2>
                <div class="section-links">
                    <ul class="links">
                        <li>
                            <a href="">antiques</a>
                        </li>
                        <li>
                            <a href="">appliances</a>
                        </li>
                        <li>
                            <a href="">arts+crafts</a>
                        </li>
                        <li>
                            <a href="">atv/utv/sno</a>
                        </li>
                        <li>
                            <a href="">auto parts</a>
                        </li>
                        <li>
                            <a href="">aviation</a>
                        </li>
                        <li>
                            <a href="">baby+kid</a>
                        </li>
                        <li>
                            <a href="">barter</a>
                        </li>
                        <li>
                            <a href="">beauty_hlth</a>
                        </li>
                        <li>
                            <a href="">bike parts</a>
                        </li>
                        <li>
                            <a href="">bikes</a>
                        </li>
                        <li>
                            <a href="">boat parts</a>
                        </li>
                        <li>
                            <a href="">boats</a>
                        </li>
                        <li>
                            <a href="">books</a>
                        </li>
                        <li>
                            <a href="">business</a>
                        </li>
                        <li>
                            <a href="">cars+trucks</a>
                        </li>
                        <li>
                            <a href="">cds/dvd/vhs</a>
                        </li>
                        <li>
                            <a href="">cell phones</a>
                        </li>
                        <li>
                            <a href="">clothes+acc</a>
                        </li>
                        <li>
                            <a href="">collectibles</a>
                        </li>
                        <li>
                            <a href="">computer parts</a>
                        </li>
                        <li>
                            <a href="">computer electronics</a>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="">farm+garden</a>
                        </li>
                        <li>
                            <a href="">free</a>
                        </li>
                        <li>
                            <a href="">furniture</a>
                        </li>
                        <li>
                            <a href="">garage sale</a>
                        </li>
                        <li>
                            <a href="">general</a>
                        </li>
                        <li>
                            <a href="">heavy equip</a>
                        </li>
                        <li>
                            <a href="">household</a>
                        </li>
                        <li>
                            <a href="">jewelry</a>
                        </li>
                        <li>
                            <a href="">materials</a>
                        </li>
                        <li>
                            <a href="">motorcycle parts</a>
                        </li>
                        <li>
                            <a href="">motorcycles</a>
                        </li>
                        <li>
                            <a href="">music instr</a>
                        </li>
                        <li>
                            <a href="">photo+video</a>
                        </li>
                        <li>
                            <a href="">rvs+camp</a>
                        </li>
                        <li>
                            <a href="">sporting</a>
                        </li>
                        <li>
                            <a href="">tickets</a>
                        </li>
                        <li>
                            <a href="">tools</a>
                        </li>
                        <li>
                            <a href="">toys+games</a>
                        </li>
                        <li>
                            <a href="">trailers</a>
                        </li>
                        <li>
                            <a href="">video gaming</a>
                        </li>
                        <li>
                            <a href="">wanted</a>
                        </li>
                        <li>
                            <a href="">wheels+tires</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-section">
                <h2 class="section-title">gigs</h2>
                <div class="section-links">
                    <ul class="links">
                        <li>
                            <a href="">computer</a>
                        </li>
                        <li>
                            <a href="">creative</a>
                        </li>
                        <li>
                            <a href="">crew</a>
                        </li>
                        <li>
                            <a href="">domestic</a>
                        </li>
                    </ul>
                    <ul class="links">
                        <li>
                            <a href="">event</a>
                        </li>
                        <li>
                            <a href="">labor</a>
                        </li>
                        <li>
                            <a href="">talent</a>
                        </li>
                        <li>
                            <a href="">writing</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-section">
                <h2 class="section-title">resumes</h2>
            </div>
        </main>
    </div>
    <div class="site-settings">
        <select name="lang" class="lang-selector" id="lang">
            <option value="english">english</option>
            <option value="deutsch">deutsch</option>
            <option value="francais">français</option>
        </select>
        <div class="section-links">
            <h2 class="section-title">nearby cl</h2>
            <ul class="links">
                <li>
                    <a href="">bakersfield</a>
                </li>
                <li>
                    <a href="">chico</a>
                </li>
                <li>
                    <a href="">flagstaff</a>
                </li>
                <li>
                    <a href="">fresno</a>
                </li>
                <li>
                    <a href="">gold country</a>
                </li>
                <li>
                    <a href="">hanford</a>
                </li>
                <li>
                    <a href="">imperial co</a>
                </li>
                <li>
                    <a href="">inland empire</a>
                </li>
                <li>
                    <a href="">las vegas</a>
                </li>
                <li>
                    <a href="">merced</a>
                </li>
                <li>
                    <a href="">modesto</a>
                </li>
                <li>
                    <a href="">mohave co</a>
                </li>
                <li>
                    <a href="">monterey</a>
                </li>
                <li>
                    <a href="">orange co</a>
                </li>
                <li>
                    <a href="">palm springs</a>
                </li>
                <li>
                    <a href="">pheonix</a>
                </li>
                <li>
                    <a href="">prescott</a>
                </li>
                <li>
                    <a href="">reno</a>
                </li>
                <li>
                    <a href="">sacramento</a>
                </li>
                <li>
                    <a href="">san diego</a>
                </li>
                <li>
                    <a href="">san luis obispo</a>
                </li>
                <li>
                    <a href="">santa barbara</a>
                </li>
                <li>
                    <a href="">santa maria</a>
                </li>
                <li>
                    <a href="">sf bay area</a>
                </li>
                <li>
                    <a href="">st george</a>
                </li>
            </ul>
        </div>
    </div>
</div>