{{> header}}
<div class="listings-page">
    {{> filtersPanel}}
    <div class="listings">
        {{#each listings}}
            {{> listingCard listing=.}}
        {{/each}}
    </div>
</div>

<script src="javascripts/filters.js"></script>