{{> header }}

<form action="/post" class="choose-location">
    <legend><b>choose the location that fits best</b></legend>
    <div class="options">
        <div class="location-option">
            <input type="checkbox" id="san-fernando" name="san-fernando" />
            <label for="san-fernando">san fernando valley</label>
        </div>
        <div class="location-option">
            <input type="checkbox" id="central-la" name="central-la" />
            <label for="central-la">central LA</label>
        </div>
        <div class="location-option">
            <input type="checkbox" id="san-gabriel" name="san-gabriel" />
            <label for="san-gabriel">san gabriel valley</label>
        </div>
        <div class="location-option">
            <input type="checkbox" id="long-beach" name="long-beach" />
            <label for="long-beach">long beach</label>
        </div>
        <div class="location-option">
            <input
                type="checkbox"
                id="antelope-valley"
                name="antelope-valley"
            />
            <label for="antelope-valley">antelope valley</label>
        </div>
    </div>
    <p><b>please note:</b>
        your posting will also appear on the main
        <b>los angeles</b>
        site.</p>
    <button type="submit">continue</button>
</form>