body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
    text-decoration: none;
}

.links {
    list-style-type: none;
    padding: 0;
}

.home {
    display: flex;
    justify-content: space-between;
}

.sidebar,
.site-settings {
    margin-top: 1em;
}

.content {
    margin: 1em;
}

/* Sidebar */

.sidebar {
    width: 30%;
    background-color: #f4f4f4;
    text-align: center;
}

.search {
    width: 90%;
    margin: 0 auto;
    margin-bottom: .5em;
    margin-top: .5em;
}

.nav-info, .nav-external {
    margin: 1em 0;
}

/* Header (home) */

.header {
    background-color: #f4f4f4;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main content */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-section {
    width: 30%;
}

.section-title {
    background-color: #f4f4f4;
}

/* Site settings */

.site-settings {
    background-color: #f4f4f4;
}

/* post form */

.choose-location {
    margin: 0 auto;
    width: 50%;
    margin-top: 5em;
}

.options {
    margin: 2em;
}

.choose-location legend {
    margin: 1em 0;
}

.choose-location button {
    font-size: 20px;
    margin: 1em 0;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #f4f4f4;
}

.cl-logo, .loc-title {
    display: inline;
}

/* Listings */

.listings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.listing-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listing-card > a {
    color: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.no-image {
    font-size: 30px;
    color: #ccc;
}

.listings-page {
    display: flex;
    margin-top: 1em;
}

/* Filters panel */

.filters-panel {
    width: 25%;
    margin: 1em;
}

.location-filter input, .price-filter input, .price-filter p {
    width: 30%;
    display: inline;
}

.location-filter legend, .price-filter legend {
    text-transform: uppercase;
    text-decoration: none;
}

.filters-links {
    margin: 1em 0;
}